<h1>Available pigeons</h1>

<div class="row">
  <div class="col-4">
    <ul class="list-unstyled row align-items-stretch">
      <% @pigeons.each do |pigeon| %>
        <li class="col-6">
          <div class="card">
            <%# <img src="..." class="card-img-top" alt="..."> %>
            <div class="card-body">
              <h5 class="card-title"><%= pigeon.name %></h5>
              <p class="card-text"><%= pigeon.description %></p>
              <%= link_to "See pigeon", pigeon_path(pigeon), class: "btn btn-primary" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-8">

  </div>
</div>
