

<h1> This is the page of a pigeon </h1>

<div class="card-product">
  <img src="https://pbs.twimg.com/media/CBib7ckUgAAHAJ_?format=jpg&name=small" />
  <div class="card-product-infos">
    <h2>My Pigeon</h2>
    <h2> <%= @pigeon.name  %></h2>
    <p> Hey ! this is my favourite pigeon; it is very polite.</p>
  </div>
</div>
