<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/LennyTof/pijet" target=”_blank”><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made with <i class="fas fa-heart"></i> by the Pigeon Lovers gang
  </div>
</div>
