<div class="container">
  <h1>Rental</h1>
  <ul class="list-unstyled">
    <% @rental.attributes.each do |key, value| %>
      <li>
        <strong><%= key %></strong>:
        <%= value %>
      </li>
    <% end %>
  </ul>
</div>


<%= render "reviews/form", rental: @rental, review: @review %>

<%= link_to "get back to index", pigeons_path %>
