<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://focus.nouvelobs.com/2020/03/22/1668/1553/2387/1193/1008/0/50/0/f0f448f_AFP_1Q34SZ.jpg/webp);">
  <div class="container">
    <h1> Pijet brings <strong>data</strong> to <strong>people with a shitty internet connection</strong>!</h1>
    <p>Rent our pigeons and send your data at the speed of light</p>
    <a class="btn btn-flat" href="#">Rent a pigeon</a>
  </div>
</div>


<br>
<br>
<br>
<h2 class="text-center"> Browse our best pigeons </h2>
<br>
<br>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.quebecscience.qc.ca/wp-content/uploads/2012/10/pigeon-3663868-1280.jpg)">
    John the Pigeon
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/e/e1/Pigeon_Messengers_%28Harper%27s_Engraving%29.png)">
    Eduardo el Pigeono
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/981893/pexels-photo-981893.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)">
    Gaston le Pigeon
  </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.quebecscience.qc.ca/wp-content/uploads/2012/10/pigeon-3663868-1280.jpg)">
    John the Pigeon
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/e/e1/Pigeon_Messengers_%28Harper%27s_Engraving%29.png)">
    Eduardo el Pigeono
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/981893/pexels-photo-981893.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)">
    Gaston le Pigeon
  </div>
</div>
