.calendar-icon {
  position: absolute;
  width: 14px;
  top: 11px;
  left: 12px;
  fill: #757575;
}

.search-form {
  padding: 1em;
  border-radius: $border-radius-lg;

  form {
    justify-content: center;
  }

  .datepicker-container {
    position: relative;
  }

  .form-control {
    height: 100%;
  }

  .mapboxgl-ctrl-geocoder,
  .mapboxgl-ctrl-geocoder--input {
    height: 100%;
    width: 100%;
    text-align: center;
    min-width: auto;
    border-radius: 0px;
    background-color: $light-gray;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .mapboxgl-ctrl-geocoder--input:focus {
    border-color: #b385ff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(103, 11, 255, 0.25);
  }

  .mapboxgl-ctrl-geocoder--button {
    background-color: transparent;
  }

  form input {
    border-radius: 0px;
  }

  form div:nth-child(1) input {
    border-radius: $border-radius-lg 0px 0px $border-radius-lg;
  }

  input[type=submit] {
    border-radius: 0px $border-radius-lg $border-radius-lg 0px;
  }
}

.datepicker-container {
  border: 1px solid $primary;
  border-radius: $border-radius-lg 0px 0px $border-radius-lg;
}

.address-container {
  border: 1px solid $primary;
  border-left: none;
}

@media screen and (min-width: 640px) {
  .search-form .mapboxgl-ctrl-geocoder--icon {
      top: 10px;
  }
  .mapboxgl-ctrl-geocoder--icon-close {
    margin-top: 5px;
  }
  .datepicker-container,
  .address-container {
    width: 300px;
  }
}
