.search-form {
  padding: 1em;
  background-color: white;
  border-radius: $border-radius-lg;

  .form-control {
    height: 100%;
  }

  .mapboxgl-ctrl-geocoder,
  .mapboxgl-ctrl-geocoder--input {
    height: 100%;
    border-radius: 0px;
    background-color: $light-gray;
  }

  form div:nth-child(1) input {
    border-radius: $border-radius-lg 0px 0px $border-radius-lg;
  }

  input[type=submit] {
    border-radius: 0px $border-radius-lg $border-radius-lg 0px;
  }
}

@media screen and (min-width: 640px) {
  .search-form .mapboxgl-ctrl-geocoder--icon {
      top: 10px;
  }
}
